<div class="card" style="width: 17rem">
  <img
    src="https://i.ytimg.com/vi/qWIkBMNKj1s/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCz8qpOXHoekDnSojbcZmcWv_MRsw"
    class="card-img-top"
  />
  <div class="card-body row">
    <div class="creator-thumb col-2">
      <p class="vid-duration">13:34</p>
      <img
        src="https://yt3.ggpht.com/lkH37D712tiyphnu0Id0D5MwwQ7IRuwgQLVD05iMXlDWO-kDHut3uI4MgIEAQ9StK0qOST7fiA=s68-c-k-c0x00ffffff-no-rj"
        alt="Marques Brownlee"
      />
    </div>
    <div class="title-chan col">
      <h5 class="card-title">Galaxy S22 Review: The iPhone of Android!</h5>
      <p class="card-text mb-0">
        Marques Brownlee <i class="bi bi-check-circle-fill"></i>
      </p>
      <p class="card-text">5.8M views <i class="bi bi-dot"></i> 6 months ago</p>
    </div>
  </div>
</div>
