@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3 class="mt-5 mb-3">About Us</h3>
<div class="row">
    <div class="col-sm-8">
        <h5 class="mb-3">The Founder</h5>
        <p>Luke Davison, the founder of your favourite gadgets store, born in 1989, is someone who has always been a tech enthusiast and has always wanted to share the best way to make that tech accessible to everyone else as soon as it arrives in the market.</p>
        <p>With those hopes, he started this store in 2009 and has been growing ever since, becoming one of the biggest tech resellers in the world. This website was established in 2014, which made the Luke's Devices store reach new heights and numbers that no one had ever seen before, helping both the companies in selling units and the customers in getting their hands on those units as soon as they hit the market.</p>
    </div>
    <div class="col-sm-4 about-img-div">
        <img class="about-img" src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=350&q=80" alt="Alternate Text" />
    </div>
</div>