@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3 class="mt-5 mb-3">Contact Us</h3>

<form>
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control inp-fields" id="inputEmail" placeholder="Email">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control inp-fields" id="inputName" placeholder="Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputMobile" class="col-sm-2 col-form-label">Mobile</label>
        <div class="col-sm-10">
            <input type="tel" class="form-control inp-fields" id="inputMobile" placeholder="Mobile">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputFeedback" class="col-sm-2 col-form-label">Feedback</label>
        <div class="col-sm-10">
            <textarea class="form-control inp-fields" id="inputFeedback" rows="3" placeholder="Your Feedback..."></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-info contact-btn">Submit</button>
        </div>
    </div>
</form>
