<div class="row">
  <div class="col-sm card text-white m-2 p-0">
    <img src="assets/mission.jpg" class="card-img" alt="Mission" />
    <div class="card-img-overlay">
      <h5 class="card-title">Mission</h5>
      <hr color="white" />
      <p class="card-text">
        {{ mission }}
      </p>
    </div>
  </div>
  <div class="col-sm card text-white m-2 p-0">
    <img src="assets/vision.jpg" class="card-img" alt="Vision" />
    <div class="card-img-overlay">
      <h5 class="card-title">Vision</h5>
      <hr color="white" />
      <p class="card-text">
        {{ vision }}
      </p>
    </div>
  </div>
  <div class="col-sm card text-white m-2 p-0">
    <img src="assets/values.jpg" class="card-img" alt="Values" />
    <div class="card-img-overlay">
      <h5 class="card-title">Values</h5>
      <hr color="white" />
      <p class="card-text">
        {{ values }}
      </p>
    </div>
  </div>
</div>
