<div class="container my-5">
  <h2 class="text-center" [ngStyle]="aboutHeadStyles()">About Bhavna Corp.</h2>
  <div class="row mt-3">
    <div class="col-sm justify-content-start">
      <p>
        Bhavna Corp. has leveraged its domain experience to redefine client
        offerings and help them gain an unbeatable competitive edge in a highly
        dynamic space. We have expanded our bouquet of service offerings to
        become a one-stop tech solution hub for international clients.
      </p>
      <p>
        Our smart and agile solutions are backed by a proficient team of
        technology experts, utilizing the best of industry practices and
        processes. As a result, we score highly on KRAs like faster time to
        market, impeccable quality, a high degree of transparency, and maximum
        ROI.
      </p>
      <p>
        If you need to reinvent your business practices with the power of
        technology, make the right first move by connecting with us.
      </p>
    </div>
    <div class="col-sm">
      <img
        src="assets/about_usImg.jpg"
        alt="About Us"
        [ngStyle]="aboutImgStyles()"
      />
    </div>
  </div>
</div>
